<!DOCTYPE html>
<html ng-app="feelms" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Feelms Twitter Observatory</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Feelms!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li class="page-scroll">
                        <a href="index.html">Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section class="">
      <div class="container">
          <div class="row">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><h2>Administración</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-md-12">
                    <!-- Nav tabs -->
              <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Agregar Película</a></li>
                  <li role="presentation" ><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Editar Película</a></li>
                </ul>
                   <!-- Tab panes -->
                <div class="tab-content">
                  <!-- Agregar -->
                  <div role="tabpanel" class="tab-pane active" id="add" ng-controller="addFormController">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <form novalidate class="form-horizontal">
                          <fieldset>
                                  <!-- Titulo Pelicula id: title -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="title">Título: </label>
                                <div class="col-sm-10">
                                  <input type="text" id="title" placeholder="Ej: Ciudadano Kane" class="form-control" ng-model="pelicula.title" required>
                                </div>
                            </div>
                                  <!-- Titulo Original de la Pelicula id: originalTitle-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="originalTitle">Título Original: </label>
                                <div class="col-sm-10">
                                  <input type="text" id="originalTitle" placeholder="Ej: Ciudadano Kane" class="form-control" ng-model="pelicula.originalTitle" required>
                                </div>
                            </div>
                                  <!-- Fecha Estreno id:releaseDate-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="releaseDate">Fecha Estreno:</label>
                                <div class="col-sm-10">
                                  <input type="text" id="release" placeholder="YYYY-MM-DDT00:00:00+03:00" class="form-control" ng-model="pelicula.releaseDate" required>
                                </div>
                            </div>
                                  <!--Duracion id:length-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="length">Duración: </label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="Ej: 110" id="length" class="form-control" ng-model="pelicula.length" required>
                                </div>
                            </div>
                                  <!-- Sinopsis id:synopsis-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="synopsis">Sinopsis:</label>
                                <div class="col-sm-10">
                                  <textarea id="synopsis" class="form-control" placeholder="Ej: Una historia violenta, pasional, en el que los abrazos se sienten más que el plomo" ng-model="pelicula.synopsis"></textarea>
                                </div>
                            </div>
                                  <!-- Admin id: admin-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="admin">Admin ID:</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="Ej: 1" id="admin" class="form-control" ng-model="pelicula.admin" required>
                                </div>
                            </div>
                                  <!-- Director id: director-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="director">Director ID:</label>
                                <div class="col-sm-10">
                                  <input type="text" placeholder="Ej: 1" id="director" class="form-control" ng-model="pelicula.director" required>
                                </div>
                            </div>
                                  <!-- Generos id:genres // luego cambiar por un arreglo de géneros-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="genre">Géneros: </label>
                              <div class="col-sm-10">
                                <input type="text" id="genres" placeholder="Ej: Drama de la postguerra en Hungría" class="form-control" ng-model="pelicula.genres" required>
                              </div>
                            </div>
                                  <!-- Imagen id: imgId -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="imgId">Image ID: </label>
                              <div class="col-sm-10">
                                <input type="text" id="imgId" placeholder="Ej: 235" class="form-control" ng-model="pelicula.imgId">
                              </div>
                            </div>
                                  <!-- Trailer id: trailer -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="trailer">Trailer: </label>
                              <div class="col-sm-10">
                                <input type="text" id="trailer" placeholder="Ej: www.youtube.com/?asdasd" class="form-control" ng-model="pelicula.trailer">
                              </div>
                            </div>
                                  <!-- Keyterms id:keywords -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="keyterms">Keyterms: </label>
                              <div class="col-sm-10">
                                <input type="text" id="keywords" placeholder="Ej: star wars, yoda, r2d2" class="form-control" ng-model="pelicula.keywords">
                              </div>
                            </div>
                                  <!--Boton-->
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                  <button type="submit" class="btn btn-primary" ng-click="update(pelicula)">Añadir</button>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                          </form>
                            <pre>pelicula = {{pelicula | json}}</pre>
                            <pre>master = {{master | json}}</pre>
                      </div>
                    </div>
                  </div>
                  <!-- Editar -->
                  <div role="tabpanel" class="tab-pane" id="edit" ng-controller="editFormController">
                    <div class="form-group">
                      <label class="col-md-4 col-md-offset-4">Escoge una película:</label>
                        <div class="col-md-4 col-md-offset-4 selectContainer">
                          <select class="form-control" name="size" ng-model="selectedID"><!-- ng-options="film as film.originalTitle for film in data_peliculas track by film.id -->"
                            <option ng-repeat="film in data_peliculas" value="{{film.id}}">{{film.title}}</option>
                          </select><br>
                          <button type="button" class="pull-right btn btn-primary" data-toggle="collapse" ng-click="showInfo(data_peliculas[selectedID-1])">Seleccionar</button>
                        </div>
                    </div>
                    <div id="editForm">
                      <div class="col-md-6 col-md-offset-3">
                        <form novalidate class="form-horizontal">
                          <fieldset><br>
                            <!-- Titulo Pelicula id: title -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="title">Título: </label>
                              <div class="col-sm-10">
                                <input type="text" id="title" placeholder="Ej: Ciudadano Kane" class="form-control" ng-model="pelicula.title">
                              </div>
                            </div>
                            <!-- Titulo Original de la Pelicula id: originalTitle-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="originalTitle">Título Original: </label>
                              <div class="col-sm-10">
                                <input type="text" id="originalTitle" placeholder="Ej: Ciudadano Kane" class="form-control" ng-model="pelicula.originalTitle" required>
                              </div>
                            </div>
                            <!-- Fecha Estreno id:releaseDate-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="releaseDate">Fecha Estreno:</label>
                              <div class="col-sm-10">
                                <input type="text" id="release" placeholder="YYYY-MM-DDT00:00:00+03:00" class="form-control" ng-model="pelicula.releaseDate" required>
                              </div>
                            </div>
                            <!--Duracion id:length-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="length">Duración: </label>
                              <div class="col-sm-10">
                                <input type="text" placeholder="Ej: 110" id="length" class="form-control" ng-model="pelicula.length" required>
                              </div>
                            </div>
                            <!-- Sinopsis id:synopsis-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="synopsis">Sinopsis:</label>
                              <div class="col-sm-10">
                                  <textarea id="synopsis" class="form-control" placeholder="Ej: Una historia violenta, pasional, en el que los abrazos se sienten más que el plomo" ng-model="pelicula.synopsis"></textarea>
                              </div>
                            </div>
                            <!-- Admin id: admin-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="admin">Admin ID:</label>
                              <div class="col-sm-10">
                                  <input type="text" placeholder="Ej: 1" id="admin" class="form-control" ng-model="pelicula.admin" required>
                              </div>
                            </div>
                            <!-- Director id: director-->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="director">Director ID:</label>
                              <div class="col-sm-10">
                                  <input type="text" placeholder="Ej: 1" id="director" class="form-control" ng-model="pelicula.director" required>
                              </div>
                            </div>
                            <!-- Generos id:genres -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="genre">Géneros: </label>
                              <div class="col-sm-10">
                                <input type="text" id="genres" placeholder="Ej: Drama de la postguerra en Hungría" class="form-control" ng-model="pelicula.genres" required>
                              </div>
                            </div>
                            <!-- Imagen id: imgId -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="imgId">Image ID: </label>
                              <div class="col-sm-10">
                                <input type="text" id="imgId" placeholder="Ej: 235" class="form-control" ng-model="pelicula.imgId">
                              </div>
                            </div>
                            <!-- Trailer id: trailer -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="trailer">Trailer: </label>
                              <div class="col-sm-10">
                                <input type="text" id="trailer" placeholder="Ej: www.youtube.com/?asdasd" class="form-control" ng-model="pelicula.trailer">
                              </div>
                            </div>
                            <!-- Keyterms id:keywords -->
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="keywords">Keywords: </label>
                              <div class="col-sm-10">
                                <input type="text" id="keywords" placeholder="Ej: star wars, yoda, r2d2" class="form-control" ng-model="pelicula.keywords">
                              </div>
                            </div>
                            <!--Boton-->
                            <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                  <button type="submit" class="btn btn-primary" ng-click="edit(pelicula)">Editar</button>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                        <pre>pelicula = {{pelicula | json}}</pre>
                        <pre>master = {{master | json}}</pre>
                      </div>  <!-- ACA TERMINA EL SEGUNDO TAB -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>
    <!-- AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="js/services/MainSrvs.js"></script>


</body>

</html>
