<body id="page-top" class="index" ng-app="feelms">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Feelms!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#pelicula">Película</a>
                    </li>
                    <li class="page-scroll">
                        <a ui-sref="mapa({idPelicula: data_pelicula.id})">Mapa de Calor</a>
                    </li>
                    <li class="page-scroll">
                        <a href="index.html">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Datos Película -->
    <section id="pelicula" name="pelicula">
        <br>
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 text-center">
                    <h2>{{data_pelicula.title}}</h2>
                    <hr class="star-primary"></hr>
                </div>
            </div>
            <!--Grid -->
            <div class="row">
              <div class="col-md-5" ng-controller="comparisonModalController">
                <h4>Director: <small> {{data_pelicula.director.firstName}} {{data_pelicula.director.lastName}}</small></h4>
                <h4>Género: <small ng-repeat="genre in data_pelicula.genres"> {{genre.name}}  </small></h4>
                <h4>Duración: <small > {{data_pelicula.length}} </small></h4>
                <h4>Fecha Estreno: <small> {{data_pelicula.releaseDate | date}} </small></h4>
                <h4>Sinopsis: <small> {{data_pelicula.synopsis}} </small></h4>

              <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#trailer">Ver Trailer</button>
                <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#compare">Comparar</button>

                <!-- Modal Trailer -->
                <div id="trailer" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="col-lg-12 text-center">
                            <h2>Trailer</h2> <!-- Trailer{{}} -->
                            <hr class="star-primary">
                        </div>
                      </div>
                      <div class="modal-body">

                         <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe width="640" height="360" src="{{data_pelicula.trailer}}" frameborder="0" allowfullscreen></iframe>
                          <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/7ijJrYmbrFc?rel=0" frameborder="0" allowfullscreen></iframe>-->
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Modal Comparacion -->
                <div id="compare" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="col-lg-12 text-center">
                            <h2>Comparar con otra película</h2> <!-- Trailer{{}} -->
                            <hr class="star-primary"></hr>
                        </div>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                            <div class="form-group">
                              <label class="col-md-4 col-md-offset-4">Escoge una película:</label>
                              <div class="col-md-6 col-md-offset-3 selectContainer">
                                <select class="form-control" name="films" ng-model="secondID">
                                  <option ng-repeat="film in data_peliculas" value="{{film.id}}">{{film.title}}</option>
                                </select><br>
                                <button type="button" class="pull-right btn btn-success" data-toggle="collapse" ng-click="comparisonView(firstID,secondID)">Comparar</button>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-7"> <!--Aquí va el gráfico en D3 de la película -->
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Cantidad de Tweets por Día</h3>
                    </div>
                    <div class="panel-body">
                        <grafico-dep film1="{{data_pelicula.id}}"></grafico-dep>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Tweets Destacados -->
    <section class="success" id="comentarios" name="comentarios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recepción</h2>
                    <hr class="star-light">
                </div>
            </div>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css" rel="stylesheet" type="text/css">
            <graficotorta film="{{data_pelicula.id}}"></graficotorta>  <!-- ACA VA D3 -->
            <div id="chart1" align="center">
                <svg></svg>
            </div>
        </div>
    </section>
</body>
